.Zerg::before{
	content: url("z_icon.png");
}

.Terran::before{
	content: url("t_icon.png");
}

.Protoss::before{
	content: url("p_icon.png");
}

.victor{
	height: 20px;
	vertical-align: sub;
}

.container{
	margin-top: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: white;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	border-radius: 3px;
}

.player_name_field{
	max-width: 150px;
	max-height: 24px;
}

.action_button{
	width: 24px;
	border: 0px;
	background-color: #f8f9fa;
}

.action_button_form{
	width: 26px;
}
