<!DOCTYPE HTML>

<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="./static/main.css">
	<script type="text/javascript" src="./static/main.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">


	<title>SC2 Pro Matches Archive</title>

</head>
<body style="background-color: #d0d6db;">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

	<div class="container">
		<div class="container-fluid" >
			<div class="row" style="color: white; background-color: #435d7d; ">
				<div class="col">Player name</div>
				<div class="col">Actions</div>
			</div>
			{% for player in players %}
			<div class="row" style="border: 1px solid black">			
				<div class="col">{{player.player_name}}</div>				
				<div class="col" >					
					<button value="{{player.player_name}}" class="action_button"><img class="edit_button" src="./static/edit.png" style="vertical-align: top;"></button>					
					<form class="action_button_form" action="./delete" method="post" style="display: inline-block;">
						<input type="hidden" value="{{player.player_name}}" name="entry_id">
						<input type="hidden" name="initialURL" value="{{page_url}}">
						<input class="action_button" type="submit" value="" style="background-image: url(./static/del.png)">
					</form>
				</div>
			</div>
			{% endfor %}

			<div class="row">
				<button id="create">Add new entry</button>
			</div>

			<form id="entry_form" action="./create" method="post" style="display: none">
				<input type="hidden" name="initialURL" value="{{page_url}}">
			<div class="row">				
					<div class="col-sm-2">
						<input id="edit_id" type="hidden" name="edit_id" value=""><input class="player_name_field" type="text" placeholder="Enter player name" name="player_name" required >
					</div>
					<div class="col-sm-2"><input type="submit" value="Submit"></div>
			</div>
			</form>
			<a href="/">Check the matches list</a>
		</div>
	</div>



</body>